USE [BedBankDb]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 13-Apr-2026 4:01:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[CheckIn] [datetime2](7) NOT NULL,
	[CheckOut] [datetime2](7) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[BookedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 13-Apr-2026 4:01:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 13-Apr-2026 4:01:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](max) NOT NULL,
	[RoomType] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13-Apr-2026 4:01:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [UserId], [RoomId], [CheckIn], [CheckOut], [TotalPrice], [Status], [BookedAt]) VALUES (3, 1, 2, CAST(N'2026-04-09T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-30T00:00:00.0000000' AS DateTime2), CAST(2729.79 AS Decimal(10, 2)), N'Confirmed', CAST(N'2026-04-12T19:16:05.2609709' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [UserId], [RoomId], [Rating], [Comment], [CreatedAt]) VALUES (2, 3, 2, 3, N'<img src="x" onerror=alert(''XSS'')>', CAST(N'2026-04-12T18:28:14.0941985' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [RoomNumber], [RoomType], [Description], [PricePerNight], [Capacity], [IsAvailable], [ImageUrl]) VALUES (2, N'202', N'Double', N'Spacious double room featuring a king-size bed, work desk, and modern amenities.', CAST(129.99 AS Decimal(10, 2)), 2, 1, N'https://images.unsplash.com/photo-1591088398332-8a7791972843?w=600')
INSERT [dbo].[Rooms] ([Id], [RoomNumber], [RoomType], [Description], [PricePerNight], [Capacity], [IsAvailable], [ImageUrl]) VALUES (3, N'303', N'Suite', N'Luxury suite with separate living area and panoramic city skyline views.', CAST(249.99 AS Decimal(10, 2)), 3, 1, N'https://images.unsplash.com/photo-1582719478250-c89cae4dc85b?w=600')
INSERT [dbo].[Rooms] ([Id], [RoomNumber], [RoomType], [Description], [PricePerNight], [Capacity], [IsAvailable], [ImageUrl]) VALUES (4, N'404', N'Deluxe', N'Premium deluxe room with private balcony, jacuzzi, and 24-hour room service.', CAST(349.99 AS Decimal(10, 2)), 4, 1, N'https://images.unsplash.com/photo-1618773928121-c32242e63f39?w=600')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Role], [CreatedAt]) VALUES (1, N'System Admin', N'admin@BedBank.com', N'$2a$11$q2IRbcy7tto9EMJisxiyx.cijgXQUXxIXi/2Ydnov.2N8V5iIpJF.', N'Admin', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Role], [CreatedAt]) VALUES (3, N'Abdul Rahman Haroon', N'x24331244@student.ncirl.ie', N'$2a$11$7aD6OY4dDRI8wNjb9PJakebJh7tKverGRshFZxeMu92Td.zS7OuAC', N'Guest', CAST(N'2026-04-12T18:03:08.7426995' AS DateTime2))
INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Role], [CreatedAt]) VALUES (5, N'System Admin Vulnerable', N'admin_vuln@BedBank.com', N'admin123', N'Admin', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Rooms]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
